:root{
	--color-white: #FFFFFF;
	--color-black: #2D3436;
	--color-gray-dark: #5C5C5C;
	--color-gray: #858585;
	--color-gray-light:  #ADADAD;
	--color-gray-soft: #C2C2C2;
	--color-gray-opacity: rgba(194, 194, 194, 0.24);

	--color-blue-dark: #0984E3;
	--color-blue-light: #74B9FF;

	--color-green-dark: #00B894;
	--color-green-light: #55EFC4;

	--color-red-dark:  #D63031;
	--color-red-light:  #FF7675;

	--color-purple-dark: #6C5CE7;
	--color-purple-light: #A29BFE;

	--color-pink-dark: #E84393;
	--color-pink-light: #FD79A8;

	--font-family-b: InterB, sans-serif;
	--font-family-m: InterM, sans-serif;
	--font-family-l: InterL, sans-serif;
	--font-family-r: InterR, sans-serif;

	--animation-times: .3s;
	--animation-function: ease;
	--animation: var(--animation-times) var(--animation-function);
}

body{
	margin: 0;
}
body *{
	box-sizing: border-box;
	max-width: 100%;
}
